@model IEnumerable<Banco.ViewModels.ConsultaMovimientoVM>

@{
    ViewData["Title"] = "Consultar Movimientos";
}

<h2>Tus Movimientos</h2>

<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de Movimiento</th>
            <th>Cantidad</th>
            <th>Nombre del Usuario</th>
            <th>Saldo Después del Movimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movimiento in Model)
        {
            <tr>
                <td>@movimiento.Fecha</td>
                <td>@movimiento.TipoMovimiento</td>
                <td>@movimiento.Cantidad</td>
                <td>@movimiento.NombreUsuario</td>
                <td>@movimiento.Saldo</td>
            </tr>
        }
    </tbody>
</table>
